<!doctype html>
<!--
    Team Astros
    Andy Shyklo and Abidur Rahman
    November 20, 2024
    30 minutes
-->
<html>
	<head>
		<meta charset="UTF-8">
    </head>
	<body>
        <h1 style="padding:5px; width: 20%; border: 2px solid blue; border-radius: 20px;">
            Team Astros<br>
            Andy Shyklo and Abidur Rahman<br>
            November 20, 2024<br>
            30 minutes
        </h1>
        <br>
        <p style="text-decoration: underline;">Image from NASA using API:<br></p>
        <img style="width:900px; border:2px solid black; border-radius:20px" src="{{image1}}" alt="image1 from NASA">
	</body>
</html>
