<!DOCTYPE html>
<!-- 
  Andy Shyklo, Ankita Saha, Abidur Rahman
Python Pigs
SoftDev
K12 - templates more w/ occupations.csv
2024-09-27
time spent: 1 hr
 -->

<html>
  <style>
  table, th, td {
      border:1px solid black;
  }
  </style>
  <head>
    <title> {{ foo }} </title>
  </head>

  <body>
    <h1>{{heading}}</h1>
    <br>
    <h3>{{roster}}</h3>
    <br>
    <table>
      <tr>
          <th>Jobs</th>
          <th>Percentage</th>
          <th>Link</th>
      </tr>
      {% for d in dictValues %}
      <tr>
          <td>{{d}}</td>
          <td>{{dictValues.get(d)[0]}}</td>
          <a href=dictValues.get(d)[1]><td>{{dictValues.get(d)[1]}}</td></a>
      </tr>
      {% endfor %}
    </table>
    <br>
    <h3>Your random job is: {{random}}</h3>
  </body>

</html>
